
@font-face {
    font-family: Avenir-Book;
    src: url('fonts/Avenir-Book.ttf');
}

@font-face {
    font-family: Avenir-Medium;
    src: url('fonts/Avenir-Medium.ttf');
}

@font-face {
    font-family: Avenir-Light;
    src: url('fonts/Avenir-Light.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #424242;
  font-family: 'Avenir-Medium';
}

#video{
  width:100%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Material Icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.diamond {
  font-family: 'Avenir-Medium';
  font-size: 4em;
  margin-bottom: 6px;
}

form {
  margin-bottom: 20px;
}

.logo {
  height: 40px;
  margin-top: 14px;
  margin-bottom: -30px;
}

button:focus, input[type="button"]:focus {
    outline: none;
}

.submit-button {
  font-family: 'Avenir-Medium';
  width: 140px;
  height: 40px;
  border-radius: 4px;
  background-color: #29AFFF;
  color: white;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1796E1;
}

input[name="room"] {
  width: 180px;
  font-family: 'Avenir-Medium';
  border: none;
  overflow: auto;
  outline: none;
  border-radius: 4px;
  background-color: #EEEEEE;
  padding: 0px 8px 0px 8px;
  margin: -2px 0px 4px 0px;
}
