@font-face {
    font-family: Avenir-Book;
    src: url('fonts/Avenir-Book.ttf');
}

@font-face {
    font-family: Avenir-Medium;
    src: url('fonts/Avenir-Medium.ttf');
}

@font-face {
    font-family: Avenir-Light;
    src: url('fonts/Avenir-Light.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  text-align: center;
  color: #424242;
  font-family: 'Avenir-Medium';
}

h1 {

}

#logo {
  height: 48px;
  margin-bottom: -14px;
}

video {
  width: 100%;
  height: 100%;
}

.mdl-textfield .mdl-textfield__label:after {
  background-color: #29AFFF;
}
