@font-face {
    font-family: Avenir-Book;
    src: url('fonts/Avenir-Book.ttf');
}

@font-face {
    font-family: Avenir-Medium;
    src: url('fonts/Avenir-Medium.ttf');
}

@font-face {
    font-family: Avenir-Light;
    src: url('fonts/Avenir-Light.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  text-align: center;
  color: #424242;
  font-family: 'Avenir-Medium';
}

#logo {
  height: 40px;
  margin-bottom: -30px;
}

video {
  width: 100%;
  height: 100%;
}

button:focus, input[type="button"]:focus {
    outline: none;
}

.submit-button {
  font-family: 'Avenir-Medium';width:140px;height:40px;border-radius:4px;background-color:#29AFFF;color:white;margin-bottom:20px;border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1796E1;
}

textarea{
  width: 180px;
  resize: none;
  font-family: 'Avenir-Medium';
  border: none;
  overflow: auto;
  outline: none;
  border-radius: 4px;
  background-color:#EEEEEE;
  padding: 6px 8px 6px 8px;

}

#title, #room {
  width: 180px;
  font-family: 'Avenir-Medium';
  border: none;
  overflow: auto;
  outline: none;
  border-radius: 4px;
  background-color:#EEEEEE;
  padding: 0px 8px 0px 8px;
  margin: -2px 0px 4px 0px;
}
